*{
    margin: 0;
    padding: 0;
    font-family:poppins ;
    box-sizing: border-box;
}
header nav{
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
border-bottom: 1px solid black;
}

nav button{
 background-color: bisque;
 border-radius: 5px;
 width: 90px;
 height: 30px;
}
main{
    width: auto;
    height: 600px;
    /* border: 2px solid blue; */
    background-image: url("variety-junk-food-products-on-the-top-view-background-photo.jpeg");
    background-size: cover;
    background-position: bottom right;
}
main .hero{
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}
.search-box{
    display: flex;
    width: 800px;
    border: 2px solid black;
    justify-self: start;
}

.search-box button{
    width: 200px;
    background-color: rgba(245, 217, 82, 0.842);
}

.hero input{
    width: 600px;
    padding: 15px 10px;
}

article{
    border-bottom:  1px solid rgba(65, 62, 62, 0);
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 60px ;
    border: 2px solid black;
    padding-left: 100px;
}
article h3{
    font-size: 18px;
    margin-bottom: 10px;
}
article img{
    width: 85%;
    height: auto;
    display: block;
}
.menu{
    width: 90%;
    /* border: 2px solid black; */
    padding-left: 125px;
}

.menu .menu-foods{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 60px 50px;
}
.menu .menu-foods .foods img{
    height: 150px;
    object-fit: cover;
}
.about{
    height: 300px;
    margin-top: 20px;
    border: 2px solid red;
    color: aliceblue;
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    padding-top: 40px;
 background-color: black;
 opacity: 0.5;
}
footer .about{
    /* background-color: black;
    opacity: 0.5; */
    background-image: url("alice-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
footer .about button{
    margin: 20px;
    width: 100px;
    height: 30px;
}
.section{
    display: flex;
    /* align-items: center; */
    height: 350px;
    width: 1600px;
    /* border: 2px solid black; */
    gap: 450px;
}
.section .content{
    height: 350px;
    margin-left: 100px;
    /* border: 2px solid red; */
    padding-top: 50px;
    padding-bottom: 50px;

}
.section .content h2{
    font-size: 40px;
    padding-bottom: 7px;
}
.section .content p{
    line-height: 45px;
    font-size: 17px;
}
.section .content .logos{
    margin-top: 10px;
}
.section .download-section{
    height: 350px;
    width: 370px;
    /* border: 2px solid green; */
    background-image: url(download_app_frame.png);
    background-size: cover;
    /* background-position: center; */}
    footer .request p{
        font-size: 35px;
    }
footer .request {
    height: 300px;
    width: 100%;
    /* border: 2px solid red; */
    /* padding-left: 700px; */
    padding: 50px 0px 0px 500px; 
    background-color: aliceblue;
}
footer .request button{
    height: 35px;
    width:150px;
    background-color: yellow;
    margin: 30px 0px 0px 200px;
    
}
 .aboutus{
    height: 500px;
    display: grid;
    padding: 50px 0px;
    width: 90%;
    margin: auto;
    grid-template-columns: repeat(4,1fr);
    border: 2px solid red;
}

.about-us .info{
    font-weight: normal;
    font-size: 14px;
}

 .about-us{
    line-height: 25px;
}

.about-us .info1{
    font-weight: bold;
}


/* @media screen and (max-width:500px) {
    .menu .menu-foods{
        display: grid;
        margin: auto;
        grid-template-columns: 1fr;
    }
}
@media  screen and (max-width:1150px) {

    
}
.foods{
    /* transform: rotate(75deg); */



